#downIcons {
    display: grid;
    grid-template-columns: repeat(4, auto);
    margin-left: 100px;
}
#sms {
    display: grid;
    grid-template-columns: repeat(2, 40px);
    color: lightslategrey;
    font-size: 22px;
}
#retweet {
    display: grid;
    grid-template-columns: repeat(2, 40px);
    color: lightslategrey;
    font-size: 22px;
}
#like {
    display: grid;
    grid-template-columns: repeat(2, 40px);
    color: lightslategrey;
    font-size: 22px;
}